<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Symfony API - {% block title %}{% endblock %}</title>
		{# <link rel="icon" href="favicon.ico"> #}

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		{% block stylesheets %}{% endblock %}

		<style>
			.btn-light { color: #212529 !important; }
			.api-navbar { margin-bottom: 20px; }
			.row > div { margin-top: 20px; margin-bottom: 20px; }
			.page-login { margin-top: 20px; margin-bottom: 20px; }
			.page-login h3 { text-align: center; }
		</style>
	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark api-navbar">
			<a class="navbar-brand" href="/">Symfony4Api</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>

				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('user_index') }}">Users</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('user_create') }}">Create new user</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('user_index') }}">Api</a>
					</li>
				{% endif %}
				</ul>

				{% if app.user %}
				<span class="navbar-text">
					<a class="btn btn-sm btn-dark" href="{{ path('user_profile', {id:app.user.id}) }}">{{ app.user.name }}</a>
				</span>
				{% endif %}

				<span class="navbar-text">
				{% if app.user %}
					<a class="btn btn-sm btn-dark" href="{{ path('app_logout') }}">Sign out</a>
				{% else %}
					<a class="btn btn-sm btn-dark" href="{{ path('app_login') }}">Sign in</a>
					<a class="btn btn-sm btn-light" href="{{ path('app_register') }}">Sign up</a>
				{% endif %}
				</span>
			</div>
		</nav>

		{% block body %}{% endblock %}

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script>
			$(function () {
				$('[data-toggle="tooltip"]').tooltip()
			})
		</script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
